node_modules
package-lock.json
dist
out
.DS_Store
*.log*
.editorconfig
.eslintrc.cjs
.eslintignore
.prettierrc.yaml
.prettierignore

# 忽略所有.env文件
.env*

# 忽略所有.env.local文件
.env.local*

# 配置文件
config.json
temp
temp/*

# vscode
.vscode

# 忽略所有.vscode文件夹
.vscode/*

# 忽略.webpack
.webpack
.webpack/*

# 忽略.codelf
.codelf

task_module_main_js.md