node_modules/
.webpack/
.webpack_cache/
.cache/
out/
dist/
coverage/
native-services/**/target/
native-services/bin/
config.json
config-backups/
diagnostics/
log/
temp/
installer/
package-lock.json
src/renderer/assets/countries-110m.json
